In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
#subset_df
df = pd.read_csv('../subset_element_data.csv')
df.head()

,Unnamed: 0,Element,AtomicMass,FirstIonizationEnergy,AtomicRadius,Density,ElectronAffinity,FusionHeat,ThermalConductivity,Valence
0,hydrogen,H,1.007940,1311.3,53,0.0899,74.3,0.558,0.1805,1
1,helium,He,4.002602,2361.3,31,0.1785,1.5,0.020,0.1513,0
2,lithium,Li,6.941000,519.9,167,535.0000,61.1,3.000,85.0000,1
3,beryllium,Be,9.012182,898.8,112,1848.0000,1.5,7.950,190.0000,2
4,boron,B,10.811000,800.2,87,2460.0000,28.2,50.000,27.0000,3

In [3]:
columns = df.columns.tolist()
columns[0] = 'FullNameElement'
df.columns = columns

In [4]:
df.head()

,FullNameElement,Element,AtomicMass,FirstIonizationEnergy,AtomicRadius,Density,ElectronAffinity,FusionHeat,ThermalConductivity,Valence
0,hydrogen,H,1.007940,1311.3,53,0.0899,74.3,0.558,0.1805,1
1,helium,He,4.002602,2361.3,31,0.1785,1.5,0.020,0.1513,0
2,lithium,Li,6.941000,519.9,167,535.0000,61.1,3.000,85.0000,1
3,beryllium,Be,9.012182,898.8,112,1848.0000,1.5,7.950,190.0000,2
4,boron,B,10.811000,800.2,87,2460.0000,28.2,50.000,27.0000,3

In [5]:
df.count()

FullNameElement          86
Element                  86
AtomicMass               86
FirstIonizationEnergy    86
AtomicRadius             86
Density                  85
ElectronAffinity         86
FusionHeat               86
ThermalConductivity      85
Valence                  86
dtype: int64

In [6]:
any(df.isna())
#so we now discovered this dataframe isn't complete.

True

For now we we make this our element subset table. Further modifications are to be tested.

In [7]:
df.to_csv('../subset_element_data_fixed.csv')