In [639]:
import pandas as pd
import numpy as np

In [640]:
df = pd.read_csv("super123_materials.csv")

In [641]:
'NaN' in df['material'].unique()

False

In [642]:
df['critical_temp'] = np.array(0)

In [643]:
df

      Unnamed: 0                        material  critical_temp
0              0           Al1Sr2Ho0.4Ca0.6Cu2O7              0
1              1        Al1Sr2Ho0.5Ca0.5Cu2O7.05              0
2              2           Ba1.2Sr0.8Yb1Cu3O6.61              0
3              3           Ba1.4Sr0.6Yb1Cu3O6.66              0
4              4  Ba1.6Sr0.4Yb0.65Ca0.35Cu3O6.52              0
...          ...                             ...            ...
2513        2513                   Yb1Ba2Cu3O6.9              0
2514        2514                  Yb1Ba2Cu3O6.93              0
2515        2515                  Yb1Ba2Cu3O6.95              0
2516        2516                  Yb1Ba2Cu3O6.97              0
2517        2517                     Yb1Ba2Cu3O7              0

[2518 rows x 3 columns]

In [644]:
try:
    df = df.drop('Unnamed: 0', axis='columns')
except KeyError:
    print('passing `Unnamed: 0` column removal')
finally:
    print(df)

                            material  critical_temp
0              Al1Sr2Ho0.4Ca0.6Cu2O7              0
1           Al1Sr2Ho0.5Ca0.5Cu2O7.05              0
2              Ba1.2Sr0.8Yb1Cu3O6.61              0
3              Ba1.4Sr0.6Yb1Cu3O6.66              0
4     Ba1.6Sr0.4Yb0.65Ca0.35Cu3O6.52              0
...                              ...            ...
2513                   Yb1Ba2Cu3O6.9              0
2514                  Yb1Ba2Cu3O6.93              0
2515                  Yb1Ba2Cu3O6.95              0
2516                  Yb1Ba2Cu3O6.97              0
2517                     Yb1Ba2Cu3O7              0

[2518 rows x 2 columns]

In [645]:
elements = pd.read_csv("unique_materials.csv")

In [646]:
elements

,H,He,Li,Be,B,C,N,O,F,Ne,...,Au,Hg,Tl,Pb,Bi,Po,At,Rn,critical_temp,material
0,0.0,0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,29.00,Ba0.2La1.8Cu1O4
1,0.0,0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,26.00,Ba0.1La1.9Ag0.1Cu0.9O4
2,0.0,0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,19.00,Ba0.1La1.9Cu1O4
3,0.0,0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,22.00,Ba0.15La1.85Cu1O4
4,0.0,0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,23.00,Ba0.3La1.7Cu1O4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21258,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,2.44,Tm0.84Lu0.16Fe3Si5
21259,0.0,0,0.0,0.0,0.0,0.0,0.0,11.0,0.0,0,...,0.0,0.0,1.0,0.0,0.0,0,0,0,122.10,Tl1Ba2Ca3Cu4O11
21260,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1.98,Nb0.8Pd0.2
21261,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1.84,Nb0.69Pd0.31
21262,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,12.80,Fe1Se0.2Te0.8

In [647]:
elements = elements[["material", "critical_temp"]]

In [648]:
elements

                     material  critical_temp
0             Ba0.2La1.8Cu1O4          29.00
1      Ba0.1La1.9Ag0.1Cu0.9O4          26.00
2             Ba0.1La1.9Cu1O4          19.00
3           Ba0.15La1.85Cu1O4          22.00
4             Ba0.3La1.7Cu1O4          23.00
...                       ...            ...
21258      Tm0.84Lu0.16Fe3Si5           2.44
21259         Tl1Ba2Ca3Cu4O11         122.10
21260              Nb0.8Pd0.2           1.98
21261            Nb0.69Pd0.31           1.84
21262           Fe1Se0.2Te0.8          12.80

[21263 rows x 2 columns]

In [649]:
def meanTemperature(temp):
    mean = 0
    if str(type(temp)) == "<class 'pandas.core.frame.DataFrame'>":
        temperatureList = temp['critical_temp']
        temp = np.array(temperatureList)
        mean = sum(temp)/len(temperatureList)
    elif str(type(temp)) == "<class 'numpy.ndarray'>":
        print('arr')
        mean = sum(temp)/len(temp)

    return mean

In [650]:
lst = elements['material'].values.tolist()
shadowLst = []
for i, row in df.iterrows():
    if row['material'] in lst:
        temp = elements.loc[elements['material'] == row['material']]
        temp2 = np.array(temp)
        if (len(temp2)) > 1:
            temp = meanTemperature(temp)
            shadowLst.append(float(temp))
        else:
            shadowLst.append(float(temp['critical_temp']))

In [651]:
df['critical_temp'] = shadowLst

In [652]:
import math
cnt = 0
for temp in df['critical_temp'].unique():
    if math.isnan(temp) == True:
        cnt += 1
print(cnt)

0

In [653]:
df

                            material  critical_temp
0              Al1Sr2Ho0.4Ca0.6Cu2O7           24.0
1           Al1Sr2Ho0.5Ca0.5Cu2O7.05           18.0
2              Ba1.2Sr0.8Yb1Cu3O6.61           36.7
3              Ba1.4Sr0.6Yb1Cu3O6.66           43.1
4     Ba1.6Sr0.4Yb0.65Ca0.35Cu3O6.52           79.0
...                              ...            ...
2513                   Yb1Ba2Cu3O6.9           92.8
2514                  Yb1Ba2Cu3O6.93           89.5
2515                  Yb1Ba2Cu3O6.95           88.4
2516                  Yb1Ba2Cu3O6.97           88.0
2517                     Yb1Ba2Cu3O7           90.7

[2518 rows x 2 columns]

In [654]:
df.to_csv('super123_criticalTemp.csv')