In [1]:
import os
#upper folder where the module is located
os.chdir('./../')

In [2]:
from makeup import makeup

H2O
<class 'str'>
{'H': 2, 'O': 1}

In [3]:
element = 'C6H12O6'
element = makeup(element)

C6H12O6
<class 'str'>

In [4]:
import pandas as pd

In [5]:
subset_table = pd.read_csv('./../superconduct/subset_element_data.csv')

In [6]:
subset_table.head()

,Unnamed: 0,Element,AtomicMass,FirstIonizationEnergy,AtomicRadius,Density,ElectronAffinity,FusionHeat,ThermalConductivity,Valence
0,hydrogen,H,1.007940,1311.3,53,0.0899,74.3,0.558,0.1805,1
1,helium,He,4.002602,2361.3,31,0.1785,1.5,0.020,0.1513,0
2,lithium,Li,6.941000,519.9,167,535.0000,61.1,3.000,85.0000,1
3,beryllium,Be,9.012182,898.8,112,1848.0000,1.5,7.950,190.0000,2
4,boron,B,10.811000,800.2,87,2460.0000,28.2,50.000,27.0000,3

In [7]:
import numpy as np

In [8]:
np.std([1, 3, 5, 7, 9]) ## better than Khan's R implementation btw

2.8284271247461903

In [9]:
for chem in element.keys():
    temp = subset_table.loc[subset_table['Element'] == chem]
    print(temp)

  Unnamed: 0 Element  AtomicMass  FirstIonizationEnergy  AtomicRadius  \
5     carbon       C     12.0107                 1085.7            67

   Density  ElectronAffinity  FusionHeat  ThermalConductivity  Valence
5   2260.0             155.4       105.0                140.0        4
  Unnamed: 0 Element  AtomicMass  FirstIonizationEnergy  AtomicRadius  \
0   hydrogen       H     1.00794                 1311.3            53

   Density  ElectronAffinity  FusionHeat  ThermalConductivity  Valence
0   0.0899              74.3       0.558               0.1805        1
  Unnamed: 0 Element  AtomicMass  FirstIonizationEnergy  AtomicRadius  \
7     oxygen       O     15.9994                 1313.1            48

   Density  ElectronAffinity  FusionHeat  ThermalConductivity  Valence
7    1.429             142.5       0.222              0.02658        2