In [1]:
import os
#upper folder where the module is located
os.chdir('./../')

In [2]:
from makeup import makeup
from prob_ratios import prob_ratios

NaCl
<class 'str'>
{'Na': 1, 'Cl': 1}
{'Na': 0.5, 'Cl': 0.5}

In [3]:
element = 'C6H12O6'
element = makeup(element)

C6H12O6
<class 'str'>

In [4]:
import pandas as pd

In [5]:
subset_table = pd.read_csv('./../superconduct/subset_element_data_fixed.csv')

In [6]:
subset_table.head()

,FullNameElement,Element,AtomicMass,FirstIonizationEnergy,AtomicRadius,Density,ElectronAffinity,FusionHeat,ThermalConductivity,Valence
0,hydrogen,H,1.007940,1311.3,53,0.0899,74.3,0.558,0.1805,1
1,helium,He,4.002602,2361.3,31,0.1785,1.5,0.020,0.1513,0
2,lithium,Li,6.941000,519.9,167,535.0000,61.1,3.000,85.0000,1
3,beryllium,Be,9.012182,898.8,112,1848.0000,1.5,7.950,190.0000,2
4,boron,B,10.811000,800.2,87,2460.0000,28.2,50.000,27.0000,3

In [7]:
import numpy as np

In [8]:
subset_selected = []
for chem in element.keys():
    subset_selected.append(subset_table.loc[subset_table['Element'] == chem].to_dict())

In [9]:
tmp = 0
for row in subset_selected:
    tmp = list(row['FullNameElement'].keys())[0]
    for key in row.keys():
        row[key] = row[key][tmp]

#unpacking the broken dict

In [10]:
subset_selected_df = pd.DataFrame(subset_selected)

In [11]:
subset_selected_df.head()

,FullNameElement,Element,AtomicMass,FirstIonizationEnergy,AtomicRadius,Density,ElectronAffinity,FusionHeat,ThermalConductivity,Valence
0,carbon,C,12.01070,1085.7,67,2260.0000,155.4,105.000,140.00000,4
1,hydrogen,H,1.00794,1311.3,53,0.0899,74.3,0.558,0.18050,1
2,oxygen,O,15.99940,1313.1,48,1.4290,142.5,0.222,0.02658,2

In [12]:
ratios = prob_ratios(element)
print(ratios)

{'C': 0.25, 'H': 0.5, 'O': 0.25}

In [22]:
subset_selected_df['ProbValues'] = list(ratios.values())
#this form just adds the array in the dataframe. Although it works, i'm worried of this cause some ordering problem inn the future.

In [23]:
subset_selected_df.head()

,FullNameElement,Element,AtomicMass,FirstIonizationEnergy,AtomicRadius,Density,ElectronAffinity,FusionHeat,ThermalConductivity,Valence,ProbValues
0,carbon,C,12.01070,1085.7,67,2260.0000,155.4,105.000,140.00000,4,0.25
1,hydrogen,H,1.00794,1311.3,53,0.0899,74.3,0.558,0.18050,1,0.50
2,oxygen,O,15.99940,1313.1,48,1.4290,142.5,0.222,0.02658,2,0.25

In [13]:
#testing a new form
for chem in list(ratios.items()):
    subset_selected_df.loc[subset_selected_df.Element == chem[0], 'ProbRatios'] = chem[1]

#probably keeping this.

In [14]:
subset_selected_df.head()

,FullNameElement,Element,AtomicMass,FirstIonizationEnergy,AtomicRadius,Density,ElectronAffinity,FusionHeat,ThermalConductivity,Valence,ProbRatios
0,carbon,C,12.01070,1085.7,67,2260.0000,155.4,105.000,140.00000,4,0.25
1,hydrogen,H,1.00794,1311.3,53,0.0899,74.3,0.558,0.18050,1,0.50
2,oxygen,O,15.99940,1313.1,48,1.4290,142.5,0.222,0.02658,2,0.25